.twitterbird {
    margin-bottom: 10px;
    width: 160px;
    height:160px;
    display:block;
    background:transparent url('twitterbird.png') center top no-repeat;
   }
   
   .twitterbird:hover {
      background-image: url('twitterbird_hover.png');
   }